*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#050505;
    color:white;
}

.container{
    display:flex;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#0d0d0d;
    padding:40px;
    border-right:1px solid #222;
}

.sidebar h1{
    color:#FF6B50;
    margin-bottom:50px;
}

.sidebar a{
    display:block;
    color:#999;
    text-decoration:none;
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;
}

.sidebar a:hover,
.sidebar .active{
    background:#FF6B50;
    color:white;
}

.main{
    flex:1;
    padding:50px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.create-btn{
    background:#FF6B50;
    border:none;
    color:white;
    padding:15px 25px;
    border-radius:12px;
    cursor:pointer;
}

.table-box{
    margin-top:40px;
    background:#101010;
    padding:30px;
    border-radius:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:20px;
    border-bottom:1px solid #222;
    text-align:left;
}

th{
    color:#FF6B50;
}

.priority,
.status{
    padding:8px 14px;
    border-radius:20px;
    font-size:12px;
}

.high{
    background:#7f1d1d;
}

.medium{
    background:#854d0e;
}

.pending{
    background:#78350f;
}

.progress{
    background:#1e3a8a;
}

.action-btn{
    border:none;
    padding:10px 15px;
    border-radius:8px;
    margin-right:10px;
    cursor:pointer;
}

.approve{
    background:#16a34a;
    color:white;
}

.reject{
    background:#dc2626;
    color:white;
}

.resolve{
    background:#2563eb;
    color:white;
}